@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Vibur&display=swap");

.logoText {
    font-family: "Vibur", sans-serif;
    font-size: 5rem;
    font-weight: 500;
    color: #ff1c51;
    position: relative;
    z-index: 2;
}

.distortionText:before {
    position: absolute;
    content: "Arnaud";
    z-index: -1;
    left: -2px;
    color: #ffb6c7;
    animation: heatDistortion 0.3s ease-in-out infinite;
}

@keyframes heatDistortion {
    0% {
        left: -1px;
    }
    12.5% {
        left: 0;
    }
    25% {
        left: 1px;
    }
    37.5% {
        left: 1px;
    }
    50% {
        left: 1px;
    }
    62.5% {
        left: 0;
    }
    75% {
        left: 0;
    }
    87.5% {
        left: -1px;
    }
    100% {
        left: -1px;
    }
}

.sunContainer {
    width: 10rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    background: linear-gradient(#ffda05, #f90404);
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
    box-sizing: border-box;

    div {
        position: absolute;
        width: 10rem;
        z-index: -1;
        background: #ffefe3;
    }

    div:first-child {
        height: 0.2rem;
        top: 1.6rem;
    }

    div:nth-child(2) {
        height: 0.3rem;
        top: 2.4rem;
    }

    div:nth-child(3) {
        height: 0.4rem;
        top: 3.2rem;
    }

    div:last-child {
        height: 0.5rem;
        top: 4rem;
    }
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 1;
    border-style: solid;
}

.outerWhiteTriangle {
    top: calc(50% + 10px);
    border-width: 92px 50px 0 50px;
    border-color: #fff transparent transparent transparent;
    transform: translateY(-50%) rotate(-10deg);
}

.innerWhiteTriangle {
    top: calc(50% + 8px);
    border-width: 82px 43px 0 43px;
    border-color: #1f1137 transparent transparent transparent;
    transform: translate(7px, -50%) rotate(-10deg);
}

.outerPinkTriangle {
    top: calc(50% + 8px);
    border-width: 82px 43px 0 43px;
    border-color: #f09 transparent transparent transparent;
    transform: translate(10px, -50%) rotate(-20deg);
}

.innerPinkTriangle {
    top: calc(50% + 6px);
    border-width: 70px 35px 0 35px;
    border-color: #1f1137 transparent transparent transparent;
    transform: translate(17px, -50%) rotate(-20deg);
}

.neonText {
    color: rgb(250, 242, 247);
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff,
        0 0 102px #5271ff, 0 0 151px #5271ff;
}
